
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 661px;
    height: 763px;
    background-color: #C4C4C4;

}

#search {
    width: 500px;
    height: 61px;
    margin-right: 84px;
    margin-top: 62px;
    font-size: 48px;
}
#hints{
    margin-bottom: 50px;
}
.hints-components {
    width: 500px;
    height: 44px;
    font-size: 30px;
    margin-right: 84px;
    background-color: #E3E3E3;
    border: 2px solid black;
}

.hints-components--active {
    background-color: #65CDF9;
    width: 500px;
    height: 44px;
    font-size: 30px;
    margin-right: 84px;
    border: 2px solid black;
}
#members{
    display: flex;
    flex-direction: column;
}
.current-members {
    background-color: #E27BEB;
    width: 503px;
    height: 85px;
    margin-right: 84px;
    border: 1px solid black;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 10px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-btn{
    width: 42px;
    height: 39px;
    background-image: url('./images/vector7.svg'), url("./images/vector8.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;

    background-color: transparent;
    padding: 0;
    margin-right: 20px;
}